.title {
    color: rgb(121 26, 9);
    text-align: center;

  
  position: relative;
  
}
.red {
    background-color: #819e81;
    font-size: 300%;
    padding: 1px 5px 2px 5px;

}
.red:hover{
    color: ghostwhite;
}
img {
  border-radius: 30%;
  display: block;
   margin-left: auto;
  margin-right: auto;
}

